<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
</head>
<body>
  % if defined("user"):
  <div>
    Variable defined
  </div>
  % end

  % if defined("userx"):
    <div>
      Variable userx defined
    </div>
  % else:
    <div>
      Variable userx NOT defined
    </div>
  % end

  % if 'people' in locals():
    <div>
      people YES
    </div>
  % else:
    <div>
      people NO
    </div>
  % end

  <h1>Ok</h1>
  % if defined("userx"):
  <div>
    Variable userx defined
  </div>
  % else:
    test
  % end 
  <h1>Ok</h1>
  % if defined("userx"):
  <div>
    Variable userx defined
  </div>
  % else:
    test
  % end    
</body>
</html>